[Unit]
Description=packetbeat
Documentation=https://www.elastic.co/guide/en/beats/packetbeat/current/index.html
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/share/packetbeat/bin/packetbeat -c /etc/packetbeat/packetbeat.yml -path.home /usr/share/packetbeat -path.config /etc/packetbeat -path.data /var/lib/packetbeat -path.logs /var/log/packetbeat
Restart=always
CPUShares=512
MemoryLimit={{ beats_memory_max | default('256M') }}
[Install]
WantedBy=multi-user.target