---
# tasks file for winlogbeat

#- include_tasks: setup-System.yml
#  when: ansible_os_family == 'Windows'
#  static: no

- include_tasks: setup-PSCX.yml
  when: ansible_os_family == 'Windows'
  static: no

- name: Stat ansible_temp
  win_stat:
    path: C:\ansible_temp
  register: temp_info

- name: Create ansible_temp folder
  win_file:
    path: C:\ansible_temp
    state: directory
  when: temp_info.stat.exists == False

- name: Download winlogbeat
  win_get_url:  
    url: '{{ winlogbeat_download_link }}'
    dest: C:\ansible_temp\winlogbeat-6.1.1-windows-x86_64.zip
    force: no

- name: Stat Winlogbeat
  win_stat:
    path: "{{ install_dir }}"
  register: dir_info

- name: Create dir to Winlogbeat
  win_file:
    path: "{{ install_dir }}"\
    state: directory
  when: dir_info.stat.exists == False

- name: Stat Winlogbeat
  win_stat:
    path: C:\ansible_temp\winlogbeat-6.1.1-windows-x86_64\
  register: unzip_info

- name: Unzip winlogbeat
  win_unzip:
    src: C:\ansible_temp\winlogbeat-6.1.1-windows-x86_64.zip
    dest: C:\ansible_temp\
  when: unzip_info.stat.exists == False

- name: Stat Winlogbeat
  win_stat:
    path: "{{ install_dir }}"\winlogbeat.exe
  register: exe_info

- name: Move winlogbeat
  win_copy:
    src: C:\ansible_temp\winlogbeat-6.1.1-windows-x86_64\
    dest: "{{ install_dir }}"\
    remote_src: True
  when: exe_info.stat.exists == False

- name: Configure winlogbeat
  win_template:
    src: winlogbeat.yml.j2
    dest: "{{ install_dir }}"\winlogbeat.yml
#  notify: restart winlogbeat

- name: Create Winlogbeat Service
  win_service:
    name: "{{ winlogbeat_service_name }}"
    path: "{{ winlogbeat_binaryPath }}"
    description: "{{ winlogbeat_service_name }}"

- name: Start winlogbeat
  win_service: 
    name: winlogbeat
    state: started  