- name: Is PSCX Downloaded?
  win_stat:
    path: C:\Windows\Temp\Pscx-3.2.0.msi
  register: tmp_pscx

- name: Grab PSCX msi
  win_get_url:
    url: http://download-codeplex.sec.s-msft.com/Download/Release?ProjectName=pscx&DownloadId=923562&FileTime=130585918034470000&Build=21066
    dest: C:\Windows\Temp\Pscx-3.2.0.msi
  when: tmp_pscx.stat.exists == False

- name: Is PSCX installed?
  win_stat:
    path: C:\Program Files (x86)\PowerShell Community Extensions\Pscx3
  register: pscx_dir

- name: Install PSCX
  win_package:
    path: C:\Windows\Temp\Pscx-3.2.0.msi
    state: present
  when: pscx_dir.stat.exists == False