# {{ ansible_managed | comment }}
- module: postgresql
  metricsets:
    # Stats about every PostgreSQL database
    - database

    # Stats about the background writer process's activity
    - bgwriter

    # Stats about every PostgreSQL process
    - activity

  period: 10s

  # The host must be passed as PostgreSQL URL. Example:
  # postgres://localhost:5432?sslmode=disable
  # The available parameters are documented here:
  # https://godoc.org/github.com/lib/pq#hdr-Connection_String_Parameters
  hosts: ["{{ beats_pgsql_module_hosts }}"]
  # Username to use when connecting to PostgreSQL. Empty by default.
  username: {{ beats_pgsql_module_user }}
  # Password to use when connecting to PostgreSQL. Empty by default.
  password: {{ beats_pgsql_module_pass }}
