---
# tasks file for packetbeat

- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"

- include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'
  static: no

- include_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'
  static: no

- name: Install Packetbeat
  package:
    name: packetbeat
    state: "{{ packetbeat_install }}"
  notify: Import Dashboard

- name: Start Packetbeat
  service: 
    name: packetbeat
    state: started
    enabled: yes

- name: Configure Packetbeat
  template:
    src: packetbeat.yml.j2
    dest: /etc/packetbeat/packetbeat.yml
    owner: root
    group: root
    mode: 0750
  #with_items: http_ports
  notify: restart packetbeat

- name: Template out service file
  template:
    src: packetbeat.service.j2
    dest: /lib/systemd/system/packetbeat.service
    owner: root
    group: root
    mode: 0664
  notify: restart packetbeat