- name: Create pv and vg
  lvg:
    vg: elastic
    pvs: '{{ second_disk_path }}'
    pesize: 32

- name: Create volume
  lvol:
    vg: elastic
    lv: storage
    size: +100%FREE

- name: create FS for the volume
  filesystem:
    fstype: ext4
    dev: /dev/mapper/elastic-storage

- name: Create /opt/elastic-storage
  file:
    path: '{{ create_elasticsearch_path }}'
    state: directory


- name: mount fs
  mount:
    path: '{{ create_elasticsearch_path }}'
    src: /dev/mapper/elastic-storage
    fstype: ext4
    state: present

- name: create dir for log and data
  file:
    path: '{{ create_elasticsearch_log_path }}'
    owner: elasticsearch
    group: elasticsearch
    mode: 755
    state: directory

- name: create dir for log and data
  file:
    path: '{{ create_elasticsearch_data_path }}'
    owner: elasticsearch
    group: elasticsearch
    mode: 755
    state: directory
