---
# tasks file for metricbeat

- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"

- include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'
  static: no

- include_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'
  static: no 

- name: Install Metricbeat
  package:
    name: metricbeat
    state: present
  notify: Import Dashboard

- name: Start Metricbeat
  service: 
    name: metricbeat
    state: started
    enabled: yes

- name: Configure Metricbeat
  template:
    src: metricbeat.yml.j2
    dest: /etc/metricbeat/metricbeat.yml
    owner: root
    group: root
    mode: 0750
  notify: restart metricbeat

- name: Setup PostgreSQL module
  template:
    src: postgresql.yml.j2
    dest: /etc/metricbeat/modules.d/postgresql.yml
    owner: root
    group: root
    mode: 0750
  when: beats_pgsql_module_setup == 'true'
  notify: restart metricbeat

- name: Trun on PostgreSQL module
  file:
    path: /etc/metricbeat/modules.d/postgresql.yml.disabled
    state: absent
  when: beats_pgsql_module_setup == 'true'

- name: Setup Apache module
  template:
    src: apache.yml.j2
    dest: /etc/metricbeat/modules.d/apache.yml
    owner: root
    group: root
    mode: 0750
  when: beats_apache_module_setup == 'true'
  notify: restart metricbeat

- name: Trun on Apache module
  file:
    path: /etc/metricbeat/modules.d/apache.yml.disabled
    state: absent
  when: beats_apache_module_setup == 'true'

