# {{ ansible_managed | comment }}
# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
#cluster.name: my-application
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
{% if node is defined %}
node.name: {{ node.name |lower}}
node.master: {{ node.master|lower }}
node.data: {{ node.data|lower }}
node.ingest: {{ node.ingest|lower }}
{%else%}
#node.name: name
#node.master: true
#node.data: true
{%endif%}

#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
{% if elasticsearch_data_path is defined %}
path.data: {{ elasticsearch_data_path }}
{% else %}
path.data: /var/lib/elasticsearch
{% endif %}
#
# Path to log files:
#
path.logs: /var/log/elasticsearch
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
#bootstrap.memory_lock: true
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: 
  - {{ elasticsearch_network_host }}
#  - {{ ansible_default_ipv4.address}}
#
# Set a custom port for HTTP:
#
http.port: {{ elasticsearch_http_port }}
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
{% if unicast_hosts is defined %}
discovery.zen.ping.unicast.hosts:
{%for host in unicast_hosts.host %}
  - {{ host }}
{% endfor %}
{% else %}
#discovery.zen.ping.unicast.hosts: ["host1", "host2"]
{% endif %}
#
# Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
#
{% if unicast_hosts is defined %}
discovery.zen.minimum_master_nodes: {{ unicast_hosts.minimum }}
{% else %}
#discovery.zen.minimum_master_nodes: 
{% endif %}
#
# For more information, consult the zen discovery module documentation.
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true
